.navbar {
    background: #2563eb;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.noti-bell {
    font-size: 24px;
    cursor: pointer;
    position: relative;
}

.badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ef4444;
    color: white;
    font-size: 10px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.noti-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    width: 300px;
    background: white;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    color: #333;
    padding: 10px;
    z-index: 100;
}

.noti-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 13px;
}

.noti-item:last-child { border: none; }